@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #f2e9e4;
    align-items: center;
    background-color: #f2e9e4;
}

h1 {
    margin-bottom: 20px;
}

a {
    color: #eee;
    text-decoration: none;
}

.margin-top {
    margin-top: 10px;
}

#errorCep, #errorFields, #errorPassword, #errorEqualPasswords, #errorCpf, #errorPhone{
    display: none;
}


.empty-field{
    border: 2px solid #cfb70c !important;
    border-radius: 5px !important;
    transition: 0.2s ease;
}

.error{
    border: 2px solid #921f1f !important;
    border-radius: 5px !important;
    transition: 0.2s ease;
}

.none{
    display: none;
}

.error-msg p{
    color:#921f1f;
}

#errorFields {
    color:#cfb70c;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #313136;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
