@import url('./global.css');

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #1e1e35;
}

nav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}