@import url('./header.css');

.ticket-form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.form-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    font-size: 45px;
    color: #2C1E5A;
    align-self: flex-start;
    margin-bottom: 3%;
    font-weight: bold;
}

.form-group{
     width: 100%;
    display: flex;
    flex-direction: column;
}
.form-group+.checkbox{
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form-group label{
    font-size: 20px;
    color: #6B6A6A;
}

select, input {
    height: 50px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0 5px;
}

#title , #description {
    border: 1px solid #6B6A6A;
}
#title:focus , #description:focus {
    outline: none;
}

textarea {
    height: 240px;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 5px;
    font-family: 'Noto sans', serif;
    font-size: 16px;
    background-color: transparent;
    border-radius: 10px;
      color: #6B6A6A;
}

button{
    width: 430px;
    height: 40px;
    border: none;
    background-color: #2C1E5A;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 5px;
    color: #f2e9e4;
    transition:all 1s ease;
    margin-bottom: 3%;
    font-size: 16px;
}

button:hover{
    background-color: #5322b5;
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 800px) {
  .ticket-form-container {
    margin-top: 30px;
    padding: 0 10px;
  }
  .form-container {
    width: 100%;
    padding: 0;
  }
  .title {
    font-size: 28px;
    margin-bottom: 16px;
  }
  form {
    gap: 12px;
  }
  .form-group label {
    font-size: 16px;
  }
  select, input {
    height: 60px;
    font-size: 16px;
    padding: 0 10px;
  }
  textarea {
    height: 200px;
    font-size: 16px;
  }
  button {
    width: 100%;
    max-width: 250px;
    font-size: 15px;
    height: 38px;
    margin-bottom: 16px;
  }
}

@media (max-width: 480px) {
  .ticket-form-container {
    margin-top: 10px;
    padding: 16px;
  }
  .form-container {
    width: 100%;
    padding: 0;
  }
  .title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .form-group label {
    font-size: 16px;
  }
  select, input {
    height: 50px;
    font-size: 16px;
    padding: 0 8px;
  }
  textarea {
    height: 200px;
    font-size: 14px;
    padding: 4px;
  }
  button {
    width: 100%;
    max-width: 180px;
    font-size: 13px;
    height: 32px;
    margin-bottom: 10px;
  }
}
